{% extends 'base/main.html' %}
{%load static%}
{% block content %}

<link rel="stylesheet" type="text/css" href=  "{%static 'landing_page/css/styles.css'%}" />


<div class="shadow p-4 mb-5 card rounded w-50 mx-auto">
    <div class="about-us-container text-center">
        <h1 id="about-us-text"><strong>
            &lt;About Us&gt;        
        </strong></h1></div>
        <div class="card-body">
            We're CodePlay, born out of a passion to make coding more fun and accessible
        to people of all skill levels.
        Our super helpful mentors are more than happy to help 
        you out if you're stuck, so you can learn from your mistakes and level up your coding game.

        </div>

        

       

</div>




{%endblock%}