{% extends 'base/main.html' %}

{% load static %}

{% block content %}

<div id="privacy_policy_div" class="white-text" >
    <h1 class="text-center adjust-font"> Privacy Policy</h1>
    <br><br>

    <p class="text-center display-8 adjust-font"> CodePlay is an independent Organisation that is Privately Owned. This Privacy
        Policy will explain how our Organization uses the personal data we collect from you when you use our website.
    </p>
    <br>

    <div class="container mt-3 adjust-font">
        <h4 class="adjust-font">Topics:</h4>
        <ul>
            <li><a class="link-opacity-50-hover" href="#one">What data do we collect?</a></li>
            <li><a class="link-opacity-50-hover" href="#two">How do we collect your data?</a></li>
            <li><a class="link-opacity-50-hover" href="#three">How will we use your data?</a></li>
            <li><a class="link-opacity-50-hover" href="#four">How do we store your data?</a></li>
            <li><a class="link-opacity-50-hover" href="#five">What are your data protection rights?</a> </li>
            <li><a class="link-opacity-50-hover" href="#six">What are cookies?</a> </li>
            <li><a class="link-opacity-50-hover" href="#seven">How do we use cookies?</a></li>
            <li><a class="link-opacity-50-hover" href="#eight">What types of cookies do we use?</a> </li>
            <li><a class="link-opacity-50-hover" href="#nine">How to manage your cookies?</a> </li>
            <li><a class="link-opacity-50-hover" href="#ten">Privacy policies of other websites?</a></li>
            <li><a class="link-opacity-50-hover" href="#eleven">Changes to our privacy policy</a> </li>
            <li><a class="link-opacity-50-hover" href="#twelve">How to contact us?</a> </li>
            <li><a class="link-opacity-50-hover" href="#thirteen">How to contact the appropriate authorities?</a> </li>
        </ul>

        <h4 id="one" class="adjust-font">What data do we collect?</h4>
        <p> CodePlay collects the following data:</p>
        <ul>
            <li>Personal identification information such as name, email address</li>
            <li>Your education level</li>
            <li>Your current place of employment/education</li>
            <li>The questions you attempt and the ones you solve</li>
            <li>The time it took for you to solve any question </li>
        </ul>

        <h4 id="two" class="adjust-font">How do we collect your data? </h4>
        <p>You directly provide CodePlay with all of the data we collect. We collect data and process data when you:
        </p>
        <ul>
            <li>Register online on our website. </li>
            <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.
            </li>
            <li>Use or view our website via your browser's cookies. </li>
            <li>Attempt or complete a coding question on our website </li>
        </ul>

        <h4 id="three" class="adjust-font"> How will we use your data ?</h4>
        <p>
            CodePlay collects your data so that we can:
        </p>
        <ul>
            <li>Show how fast you can solve problems compared to other people </li>
            <li>Allow you to automatically log in when you visit the website again </li>
        </ul>

        <h4 id="four" class="adjust-font">How do we store your data? </h4>
        <p>
            CodePlay securely stores your data in Sweden, the security precautions taken are the standard ones
            undertaken by AWS. More information can be found <a class="link-opacity-50-hover"
                href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-security.html">here</a>
        </p>

        CodePlay will keep all the data you have given, until the 1st of June, 2024. Once this time period has expired,
        we will delete your data by removing all your records from the website's database.

        </p>
        <h4 id="five" class="adjust-font">What are your data protection rights? </h4>
        CodePlay would like to make sure you are fully aware of all your data protection rights. Every user is entitled
        to the following:

        <div style="margin-left: 20px;">
            <div>
                <p>
                <h5 class="adjust-font">The right to access</h5> You have the right to request CodePlay for copies of your personal data. We
                may charge you a small fee for this service.</p>
            </div>

            <div>
                <p>
                <h5 class="adjust-font">The right to access</h5> You have the right to request CodePlay for copies of your personal data. We
                may charge you a small fee for this service.</p>
            </div>

            <div>
                <p>
                <h5 class="adjust-font">The right to rectification </h5>You have the right to request that CodePlay correct any information
                you believe is inaccurate. You also have the right to request CodePlay to complete information you
                believe is incomplete. </p>
            </div>

            <div>
                <p>
                <h5 class="adjust-font">The right to erasure </h5> You have the right to request that CodePlay erase your personal data,
                under certain conditions. </p>
            </div>

            <div>
                <p>
                <h5 class="adjust-font">The right to restrict processing</h5> You have the right to request CodePlay restrict the processing
                of your personal data, under certain conditions. </p>
            </div>

            <div>
                <p>
                <h5 class="adjust-font">The right to object to processing </h5> You have the right to object to CodePlay's processing of
                your personal data, under certain conditions.</p>
            </div>

            <div>
                <p>
                <h5 class="adjust-font">The right to data portability</h5> You have the right to request that CodePlay transfer the data
                that we have collected to another organization, or directly to you, under certain conditions. </p>
            </div>
        </div>

        <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these
            rights, please contact us at our email: <a class="link-opacity-50-hover"
                href="mailto:AXS2175@student.bham.ac.uk">AXS2175@student.bham.ac.uk</a>

            or call us at: +44 (0)121 414 3344 </p>

        <h4 id="six" class="adjust-font">What are cookies?</h4>
        <p> Cookies are text files placed on your computer to collect standard Internet log information and visitor
            behaviour information. When you visit our websites, we may collect information from you automatically
            through cookies or similar technology. </p>
        <p>For further information, visit <a class="link-opacity-50-hover"
                href="https://allaboutcookies.org ">allaboutcookies.org</a>. </p>

        <h4 id="seven" class="adjust-font">How do we use cookies?</h4>
        <p> CodePlay uses cookies in a range of ways to improve your experience on our website, including keeping you
            signed in. </p>

        <h4 id="eight" class="adjust-font">What type of cookies do we use? </h4>
        <p>There are a number of different types of cookies, however, our website uses </p>
        <ul>
            <li>Functionality - CodePlay uses these cookies so that we recognize you on our website and remember your
                previously selected preferences. These could include what language you prefer and location you are in. A
                mix of first-party and third-party cookies are used. </li>
        </ul>

        <h4 id="nine" class="adjust-font">How to manage cookies</h4>

        <p>
            You can set your browser not to accept cookies, and the above website tells you how to remove cookies from
            your browser. However, in a few cases, some of our website features may not function as a result.
        </p>

        <h4 id="ten" class="adjust-font">Privacy policies of other websites </h4>
        <p>The CodePlay website contains links to other websites. Our privacy policy applies only to our website, so if
            you click on a link to another website, you should read their privacy policy. </p>

        <h4 id="eleven" class="adjust-font">
            Changes to our privacy policy
        </h4>

        <p>
            CodePlay keeps its privacy policy under regular review and places any updates on <a
                class="link-opacity-50-hover" href="/privacy_policy">this web page</a>. This privacy policy was last
            updated on 6th March 2024.
        </p>

        <h4 id="twelve" class="adjust-font">How to contact us</h4>
        <p>If you have any questions about CodePlay's privacy policy, the data we hold on you, or you would like to
            exercise one of your data protection rights, please do not hesitate to contact us.</p>
        <ul>
            <li>Email us at: <a class="link-opacity-50-hover"
                    href="mailto:AXS2175@student.bham.ac.uk">AXS2175@student.bham.ac.uk</a></li>
            <li>Or call us: +44 (0)121 414 3344</li>
        </ul>

        <h4 id="thirteen" class="adjust-font">How to contact the appropriate authority</h4>
        <p>Should you wish to report a complaint or if you feel that CodePlay has not addressed your concern in a
            satisfactory manner, you may contact the Information Commissioner's Office.</p>
        <ul>
            <li>Email: <a class="link-opacity-50-hover"
                    href="mailto:AXS2175@student.bham.ac.uk">AXS2175@student.bham.ac.uk</a></li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="{% static 'landing_page/change_font.js' %}"></script>
    {% endblock %}

    {% block footer %}
    <footer id="theFooter" class="pt-3 mt-4 text-body-secondary border-top adjust-font">
        <p class="text-center display-15 fw-bold text-secondary" style="color:#AAAAAC">
            You are accessing an experimental web application developed by participants of the Team Project 2024 module.
        </p>
        <p class="text-center"><a class="link-opacity-50-hover" href="#">Privacy Policy</a></p>
    </footer> 
    {% endblock %}
</div>
   