/* Must be copied from main-styles.css */
body {
    font-family: 'Open-Dyslexic';
    font-size: 16px;
    background: #282828;
    color: #aaaaac;
}

.row {
    margin: 5px;
}

.easy {
    color: #6aa84f;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}

.medium {
    color: rgb(240, 240, 0);
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.hard {
    color: rgb(209, 0, 0);
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.problem-title {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    color: snow;
}

.language {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #808080;
}

.description {
    background-color: #383a3b;
    min-height: 550px;
    color: snow;
}

.your-solution-title {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    color: snow;
}

#theme-button {
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    text-decoration: none;
    color: #969696;
}

#font-button {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}

.timer {
    font-size: 20px;
    font-weight: bold;
    color: #007acc;
    display: inline-block;
    float: right;
}

/* Editor */
.ace_editor { 
    font-family: monospace;
    height: 400px;
}

.tests-title {
    font-weight: bold;
    font-size: 20px;
    color: snow;
}

#output {
    height: 150px;
    width: 100%;
    resize: none;
    overflow: auto;
    background-color: #383a3b;
}

.standardized-btn {
    background-color: transparent;
    text-align: center;
    align-content: center;
    margin-right: 5px;
    padding: 7px;
    width: 100px;
    border-color: #007acc;
    border-width: 3px;
    color: #007acc;
    font-weight: bold;
}

.give-up-btn {
    float: left;
}

.finish-btn {
    float: right;
}

.run-btn {
    float: right;
}
